<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            div {
                margin: 2px;
            }
        </style>
    </head>
    <body>
        이거 되냐?
        <div id    = "temp-text">
            <div class="temp1">
                temp1
                <div id="tempid1">
                    tempid1
                </div>
            </div>
            <div class="temp1 temp2 temp3">
                temp1
                temp2
                temp3
            </div>
            <div class="temp2 temp3">
                temp2 temp3
                <a id="tempid2" class="temp3">
                    tempid2 temp3
                </a>
            </div>
        </div>
    </body>
</html>