<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/logic.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ko.min.js"
    ></script>
  </head>
  <body>
    {% include "template.html" %}
    <div class="layout header">{% include "header.html" %}</div>
    <div class="layout wrap">{% block wrap %}{% endblock %}</div>
    <div class="layout footer">
      <a href="/information"> <div id="go-information">
        홈페이지 설명서</br>
        정경훈(010 3283 6388)
      </div></a>
    </div>
  </body>
</html>
