{% extends "layout.html" %} {% block wrap %}
<div class="banner">
  <!-- <div class="banner btn left"></div> -->
  <div class="inner-banner">
    <img src="/imgs/banner/banner.png" alt="" />
  </div>
  <!-- <div class="banner btn right"></div> -->
</div>
<div id="item-list">
  <div id="last-item-list">
    <h2>최근 상품 목록</h2>
  </div>
  <div id="popular-item-list">
    <h2>인기 상품 목록</h2>
  </div>
</div>
<div id="hashtag-list">
  {% for hashtagList in hashtagLists %}
  <fieldset>
    <legend>{{hashtagList.name}}</legend>
    <div>
      {% for hashtag in hashtagList.list %}
      <div class="hashtag" onclick="clickHashtag(event, '{{hashtag.name}}')">
        <div class="hashtag-icon">#</div>
        <div class="hashtag-name">{{hashtag.name.slice(1)}}</div>
      </div>
      {% endfor %}
    </div>
  </fieldset>
  {% endfor %}
</div>
<div id="hashtag-items">
  {% for sale in Sales %}
  <div class="item-list">
    <a href="/product{{sale.id}}" class="item-list">
      <div class="item-img">{{sale.mainImg}}</div>
      <div class="item-name">{{sale.name}}</div>
      <div class="item-price">{{sale.price}}<span></span> 원</div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
