{% extends "layout.html" %}

{% block content %}
            <div id="advertise">
                <div id="advertise-list">{% for advertise in advertiseList %}
                    <a class="advertise" href={{advertise.href}}>
                        <img src={{advertise.img}} alt="">
                    </a>
                    {% endfor %}
                </div>
                <div class="input">
                    <div id="advertise-before">
                        <a href=""></a>
                    </div>
                    <div id="advertise-list-btn">
                        <div class="advertise-list-btn">
                            1
                        </div>
                        <div class="advertise-list-btn">
                            2
                        </div>
                        <div class="advertise-list-btn">
                            3
                        </div>
                    </div>
                    <div id="advertise-after">
                        <a href=""></a>
                    </div>
                </div>
            </div>
            <div id="inner-contain">
                <div id="products-list">{% for product in productList %}
                    <a class="products" href="">
                        <img src=product.img alt="">
                    </a>
                    {% endfor %}
                </div>
            </div>
{% endblock %}