{% extends "layout.html" %} {% block wrap %}
<div class="hashtag-list"></div>
<div class="item-information">
  <div class="item-image"></div>
  <div class="text-information">
    <h2>{{product.name}}</h2>
    <div class="item-price"><span>{{product.price}}</span> 원</div>
    <div class="item-uptime">{{product.createdAt}}</div>
    <div class="basic-saler-data">
      <div>판매자 : {{product.saleUser.name}}</div>
      <div>판매자 점수 : {{product.saleUser.score / 100}} 점</div>
    </div>
    {% if user.id !== product.UserId %}
    <form
      class="product form"
      action="/purchase/add/{{product.id}}"
      method="POST"
    >
      <div class="input">
        <label for="product-count">구매 수량</label>
        <input
          id="product-count"
          type="number"
          name="count"
          value="1"
          min="1"
          max="{{product.saleCount}}"
        />
        <span>개</span>
      </div>
      <div>
        <button class="btn">구매 결정</button>
      </div>
    </form>
    {% else %}
    <div class="saleCount">남은 수량 : {{product.saleCount}} 개</div>
    {% endif %}
  </div>
</div>
<div class="product-list">
  <div class="product-information on" onclick="onDataListClickOfOn(event)">
    상품 정보
  </div>
  <div class="product-comments" onclick="onDataListClickOfOn(event)">
    구매 후기
  </div>
</div>
<div class="product-data product-information on">{{product.information}}</div>
<div class="product-data product-comments">{% include "comment.html" %}</div>
<script>
  document.querySelector(
    ".item-image"
  ).style.backgroundImage = `url({{product.mainImg}})`;

  const tempDate = new Date(document.querySelector(".item-uptime").innerHTML);
  document.querySelector(".item-uptime").innerHTML = moment(tempDate).fromNow();
  document.querySelector(
    ".product-data.product-information"
  ).innerHTML = document.querySelector(
    ".product-data.product-information"
  ).textContent;
</script>
{% endblock %}
