{% extends "layout.html" %} {% block wrap %}
<div id="main-information">
  <div class="user-image">
    <div>{{user.score / 100}} 점</div>
  </div>
  <div id="{{user.id}}" class="user-information">
    <div class="nickname">
      <h1>{{user.nick}}</h1>
      <button onclick="onTextChange('nickname', true)">닉네임 수정</button>
    </div>
    <form class="nickname-change" action="/auth/change" method="post">
      <input type="text" />
      <button onclick="onTextChange('nickname', false)">확인</button>
    </form>
    <div class="math-information">
      <p>이름 : <span class="user-name">{{user.name}}</span></p>
      <p>전화번호 : <span class="user-phone">{{user.phoneNumber}}</span></p>
      <p>가입일 : <span class="date-join">{{user.createdAt}}</span></p>
      <p>방문자수 : <span class="count-visitor">0</span> 명</p>
      <p>판매수 : <span class="count-sale">0</span> 회</p>
      <p>택배발송 : <span class="count-transport">0</span> 회</p>
    </div>
  </div>
</div>
<div class="data-list">
  <div class="user-sale on" onclick="onDataListClick(event)">판매 상품</div>
  <div class="user-purchase" onclick="onDataListClick(event)">구매 상품</div>
  <div class="user-comment" onclick="onDataListClick(event)">구매 후기</div>
</div>
<div class="data-input"></div>

<script></script>
{% endblock %}
