:root {
    --main-bg-color: rgb(50, 50, 50);
    --main-bg-lightcolor: rgb(100, 100, 100);
    --main-text-color: white;
    --main-border-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 360px;
}

input {
    padding: 3px;
    outline: none;
}

button {
    color: var(--main-text-color);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    background-color: var(--main-bg-color);
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
}

#menu {
    z-index: 100;
    display: block;
    min-width: 250px;
    max-width: 350px;
    width: calc(100% / 4);
    top: 0;
    left: 0;
    padding: 10px;
    overflow-y: auto;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-border-color);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--main-bg-lightcolor);
}

#logo {
    order: 10;
    width: 100%;
    text-align: center;
}

#logo .windows {
    width: 90%;
    margin: auto;
}

#logo .mobile {
    height: 100%;
    float: left;
    display: none;
}

#login {
    order: 20;
    width: 100%;
}

#login-box {
    display: inline-block;
    width: 100%;
}

.input {
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: space-between;
}

.input label {
    display: inline-block;
    width: 70px;
}

.input input {
    display: inline-block;
    width: calc(100% - 80px);
    text-align: left;
}

.input button {
    display: inline-block;
    width: 70px;
    padding: 3px;
}

.btn {
    width: 100%;
    padding: 5px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn button {
    width: 40%;
    padding: 3px;
}

#login-btn-top {
    display: none;
    float: right;
    width: 100px;
    padding: 5px 5%;
    margin: 0.5em 0;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
}

#search {
    order: 30;
    margin-top: 10px;
}

#hashtag-list {
    order: 40;
    padding: 0 10px;
}

#hashtag-list fieldset {
    display: flex;
    margin-bottom: 10px;
    padding: 0 3px 5px;
    flex-wrap: wrap;
}

#hashtag-list fieldset legend {
    padding: 0 5px;
}

.hashtag {
    display: flex;
    float: left;
    margin: 0.2em 0.3em;
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
}

.hashtag-icon {
    background-color: var(--main-bg-lightcolor);
    line-height: 1.5em;
    padding: 0 0.2em;
    border-radius: 5px;
}

.hashtag-name {
    margin: 0.1em 0.4em 0 0.2em;
    line-height: 1.4em;
    text-align: center;
}

#container {
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#advertise {
    width: calc(100% / 2);
    top: 0;
}

#inner-contain {
    width: calc(100% / 2);
    overflow-y: auto;
}

#advertise-list {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
}

#advertise .input {
    position: relative;
    display: flex;
    flex-direction: row;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

#advertise-before, #advertise-after {
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#advertise-list-btn {
    width: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
    flex-wrap: inherit;
    align-self: flex-end;
}

.advertise-list-btn {
    min-width: 50px;
    height: 50px;
    margin: 1px;
    border: 1px solid black;
}

#advertise-before a, #advertise-after a{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

#products-list {
    display: flex;
    flex-direction: column;
}
/* 
.products {

} */

@media all and (max-width:1366px) {
    .wrap {
        flex-direction: column;
    }
    
    #menu {
        min-width: 100%;
        height: 60px;
        display: flex;
        top: 0;
        left: 0;
        color: var(--main-text-color);
        background-color: var(--main-bg-color);
        justify-content: space-between;
        overflow-y: visible;
    }
    
    #logo {
        order: 10;
        width: calc(100% / 4);
        height: 100%;
    }

    #logo .windows {
        display: none;
    }
    
    #logo .mobile {
        display: inline-block;
    }
    
    #login {
        position: relative;
        width: calc(100% / 4);
        order: 35;
    }

    #login-btn-top {
        display: block;
    }
    
    #login-box {
        display: none;
        position: absolute;
        top: 50px;
        width: 100%;
        padding: 10px;
        border: 1px solid var(--main-border-color);
        background-color: var(--main-bg-color);
    }

    #login-box.on {
        display: block;
    }

    #search {
        position: relative;
        width: calc(100% / 2);
        padding: 0 20px;
        margin: auto;
    }

    #hashtag-list {
        display: none;
        position: absolute;
        top: 48px;
        left: 0px;
        width: 100%;
        padding: 10px;
        border: 1px solid var(--main-border-color);
        background-color: var(--main-bg-color);
    }

    #hashtag-list.on {
        display: inline-block;
    }

}

@media all and (max-width:720px) {
    #container {
        flex-direction: column;
        overflow-y: auto;
    }

    #advertise {
        width: 100%;
    }
    
    #inner-contain {
        width: 100%;
    }
    
}
