* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Nanum Gothic", sans-serif;
}
img {
  width: 100%;
}
a {
  color: black;
}
.btn {
  display: block;
  cursor: pointer;
  border: none;
  background: none;
}
.layout.header {
  z-index: 1000;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid lightgray;
}
#header {
  margin: auto;
  min-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header #logo img {
  width: 100px;
}
#header .btn {
  float: left;
  height: 30px;
  margin-left: 20px;
}
#header .btn > img {
  height: 100%;
  width: auto;
}
#header .btn > span {
  position: relative;
  bottom: 10px;
}
.box {
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}
#header-box .form {
  width: auto;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 50px;
}
#header-box .form .input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 30px;
  padding: 0;
}
#header-box .form .input label {
  display: flex;
  align-items: center;
}
#header-box .form .input input {
  width: 300px;
  margin-left: 20px;
  padding: 10px;
}
#header-box .form .btn {
  margin: auto;
  width: 50px;
  height: 50px;
  background: none;
  padding: 0;
}
#header-box .join.form .input {
  font-size: 20px;
}
.layout.wrap {
  width: 1000px;
  margin: auto;
  margin-top: 70px;
}
.banner {
  position: relative;
  width: 100%;
  height: 400px;
}
.inner-banner {
  width: 100%;
  height: 100%;
  background-color: royalblue;
}
.banner.btn {
  position: absolute;
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  background-color: rosybrown;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
#item-list {
  padding: 20px 0;
}
#item-list > div {
  overflow: auto;
  margin-top: 30px;
}
div.item-list {
  position: relative;
  float: left;
  width: 20%;
  padding-bottom: 27%;
  text-align: center;
}
div.item-list > a {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  padding-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  overflow: hidden;
}
.item-img {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}
#main-information {
  display: flex;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.user-image {
  display: flex;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.05);
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.user-information {
  display: flex;
  flex: 1;
  padding: 20px;
  flex-direction: column;
}
.math-information {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  flex-direction: column;
}
.math-information > p {
  font-size: 12px;
  width: 100%;
  margin-bottom: 6px;
}
.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}
.introduction > p {
  width: 100%;
  flex: 1;
}
.introduction > button {
  padding: 3px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.introduction-change {
  display: none;
  flex: 1;
}
.introduction-change > input {
  width: 85%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: none;
}
.introduction-change > button {
  width: 15%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.nickname {
  display: flex;
  height: fit-content;
  align-items: center;
}
.nickname * {
  float: left;
  margin-right: 12px;
}
.nickname button {
  cursor: pointer;
  padding: 3px 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: white;
}
.nickname-change {
  display: none;
  margin-bottom: 1px;
  height: fit-content;
}
.nickname-change input {
  font-size: 20px;
  padding: 5px;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: none;
}
.nickname-change button {
  cursor: pointer;
  padding: 3px 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}
.data-list,
.product-list {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.data-list > div,
.product-list > div {
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.05);
}
.data-list > div.on,
.product-list > div.on {
  border: 1px solid rgba(0, 0, 0, 1);
  border-bottom: none;
  background-color: white;
}
.product-data {
  display: none;
}
.product-data.on {
  display: block;
}
.hashtag-list {
  overflow: auto;
  width: 100%;
  height: 72px;
  padding: 20px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}
.hashtag {
  float: left;
  padding: 5px;
  margin-right: 5px;
  width: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.item-information {
  width: 100%;
  height: 450px;
}
.item-image {
  float: left;
  width: 400px;
  height: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.05);
}
.text-information {
  float: left;
  width: 600px;
  height: 100%;
  padding: 30px;
  padding-right: 0;
}
.item-price {
  margin-top: 10px;
  font-size: 12px;
}
.item-price > span {
  font-size: 16px;
  font-weight: 700;
}

#template {
  display: none;
}

#sale-box {
  display: flex;
  margin: auto;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

#sale-box .input {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}

#sale-box .input label {
  margin-right: 40px;
}

#sale-box .input.sale-count {
  margin-right: 200px;
}
#sale-box .input.sale-name {
  width: 1000px;
}

#sale-box .input input {
  flex: 1;
  text-align: right;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#sale-box .input input#sale-name {
  flex: 1;
  text-align: left;
}

#sale-box div#sale-information {
  width: 1000px;
  height: 500px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: left;
  overflow-y: auto;
  margin-top: 20px;
}

#sale-box div#sale-information div {
  text-align: left;
}

#sale-box div#sale-information:empty:before {
  content: "정보를 입력해주세요.\A해시태그는 앞에 #을 붙이며 최대 10글자, 최대 10개까지 넣을 수 있습니다.\A사진은 복사하여 붙여넣어주세요. 처음 입력된 사진은 메인으로 등록됩니다.";
  white-space: pre;
}

#sale-box div#sale-information img {
  max-width: 100%;
}

#sale-box div#sale-information p {
  padding: 0 0.5em;
}

#sale-box #sale-hashtag {
  display: none;
  width: 500px;
  min-height: 1em;
  border: 1px solid black;
}

#sale-box button {
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: 700;
  color: white;
  background-color: orangered;
}

.item-uptime {
  padding-top: 10px;
  color: rgb(200, 200, 200);
  font-weight: 700;
}
.basic-saler-data {
  margin: 20px 0;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form .input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}
.comment.form .input {
  padding: 10px 0;
}
.form .input label {
  width: 150px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.form .input input {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.form .input span {
  padding-left: 10px;
}

.form button {
  float: right;
  padding: 10px;
  background-color: orangered;
  color: white;
}
.saleCount {
  margin-top: 10px;
}
.comment-list .comment {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}
.comment-list .comment .basic-information {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.comment-list .comment .basic-information > div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.comment-list .comment .comment-content {
  padding: 10px;
  flex: 1;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5);
}
.comment-list .comment .btn {
  width: 60px;
  height: 100%;
  font-size: 50px;
}

#hashtag-list {
  order: 40;
  padding: 0 10px;
}

#hashtag-list fieldset {
  margin-bottom: 10px;
  padding: 0 3px 5px;
  height: 60px;
}

#hashtag-list fieldset > div {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

fieldset > div::-webkit-scrollbar {
  display: none;
}

#hashtag-list fieldset legend {
  padding: 0 5px;
}

.hashtag {
  cursor: pointer;
  display: inline-flex;
  margin: 4px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 5px;
}

.hashtag-icon {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 4px;
  border-radius: 5px;
}

.hashtag-name {
  margin: 2px 6px 0 4px;
  text-align: center;
}
