:root {
  --main-bg-color: rgb(50, 50, 50);
  --main-bg-lightcolor: rgb(100, 100, 100);
  --main-text-color: white;
  --main-border-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

*.template {
  display: none;
}

p {
  text-align: left;
}

body {
  min-width: 360px;
}

input {
  padding: 3px;
  outline: none;
  border-radius: 4px;
  padding: 5px;
}

button {
  font-size: 1em;
  padding: 5px 15px;
  cursor: pointer;
  color: var(--main-text-color);
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  background-color: var(--main-bg-color);
}

svg {
  width: 24px;
  height: 24px;
  fill: white;
}

#menu {
  z-index: 100;
  display: fixed;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  padding: 10px;
  background: white;
  text-align: center;
}
/* 
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-border-color);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--main-bg-lightcolor);
  } */

#logo {
  order: 10;
  float: left;
  height: 100%;
}

#logo .windows {
  height: 100%;
  margin: auto;
}

#logo .mobile {
  height: 100%;
  float: left;
  display: none;
}

#login {
  order: 20;
  float: right;
  height: 100%;
}

#login-box {
  display: inline-block;
  min-width: 200px;
  width: 100%;
}

#login a {
  padding: 2px;
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  text-decoration: none;
  color: var(--main-text-color);
}

.input {
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.input label {
  display: inline-block;
  width: 70px;
}

.input input {
  display: inline-block;
  width: calc(100% - 80px);
  text-align: left;
}

.input button {
  display: inline-block;
  width: 70px;
  padding: 3px;
}

#login div.logged-in {
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  padding: 5px 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn button {
  width: 40%;
  padding: 3px;
}

#login .btn .logged-in {
  width: 30%;
}

#login .btn a {
  width: 40%;
}

#login-top-btn {
  appearance: none;
  float: right;
  transition: all 0.3s ease;
}

#login-top-btn:hover {
  background: white;
}

#login-top-btn:hover svg {
  fill: #222;
}

/* 
  #login-top-btn {
      display: none;
      float: right;
      width: 100px;
      height: 100%;
      padding: 5px 5%;
      overflow: hidden;
      align-items: center;
      color: var(--main-text-color);
      background-color: var(--main-bg-color);
      border: 1px solid var(--main-border-color);
      border-radius: 5px;
  } */

/* #login-top-btn #login-top-btn-img { display: block; } */
/* #login-top-btn #login-top-btn-img-on { display: none; }
  #login-top-btn.on #login-top-btn-img { display: none; }
  #login-top-btn.on #login-top-btn-img-on { display: block; } */
/* 
  #login-top-btn-img-box {
      position: relative;
      display: block;
      height: 100%;
      width: max-content;
  
  }
  
  #login-top-btn #login-top-btn-img {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      opacity: 1;
  }
  #login-top-btn #login-top-btn-img.on { 
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      opacity: 0;
  }
  #login-top-btn:hover #login-top-btn-img { 
      opacity: 0;
  }
  #login-top-btn:hover #login-top-btn-img.on { 
      opacity: 1;
  } */

#search {
  order: 30;
  margin-top: 10px;
}

#search-btn {
  display: none;
}

#hashtag-list {
  order: 40;
  padding: 0 10px;
}

#hashtag-list fieldset {
  display: flex;
  margin-bottom: 10px;
  padding: 0 3px 5px;
  flex-wrap: wrap;
}

#hashtag-list fieldset legend {
  padding: 0 5px;
}

.hashtag {
  cursor: pointer;
  display: inline-flex;
  margin: 0.2em 0.3em;
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
}

.hashtag-icon {
  background-color: var(--main-bg-lightcolor);
  line-height: 1.5em;
  padding: 0 0.2em;
  border-radius: 5px;
}

.hashtag-name {
  margin: 0.1em 0.4em 0 0.2em;
  line-height: 1.4em;
  text-align: center;
}

#container {
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

#advertise {
  width: calc(100% / 2);
  top: 0;
}

#inner-contain {
  width: calc(100% / 2);
  overflow-y: auto;
}

#advertise-list {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

.advertise {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.advertise img {
  width: 100%;
}

#advertise .input {
  position: relative;
  display: flex;
  flex-direction: row;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

#advertise-before,
#advertise-after {
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#advertise-before img,
#advertise-after img {
  width: 100%;
  height: 100%;
}

#advertise-list-btn {
  width: calc(100% - 50px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
  flex-wrap: inherit;
  align-self: flex-end;
}

.advertise-list-btn {
  min-width: 50px;
  height: 50px;
  margin: 1px;
  border: 1px solid black;
}

#advertise-before a,
#advertise-after a {
  width: 50px;
  height: 50px;
}

#products-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sale,
.purchase {
  width: 40%;
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  margin: 4%;
  overflow: hidden;
  background-color: rgb(245, 245, 245);
  /* border: 1px solid black; */
  text-decoration: none;
  color: black;
  border-radius: 10px;
}

.sale img,
.purchase img {
  max-width: 100%;
}

#full-contain {
  margin: auto;
  width: 70%;
  padding-top: 10px;
}

#join-form {
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

#join-form .input {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#join-form .input label {
  width: 13em;
  margin-right: 20px;
}

.join-btn {
  width: 7em;
}

#main-information {
  float: left;
  width: calc(100% / 3);
}

#main-information div {
  text-align: left;
}

#sale-list,
#purchase-list {
  float: left;
  width: calc(100% / 3);
}

#sale-list .sale,
#purchase-list .purchase {
  width: 90%;
}

#sale-box {
  display: flex;
  margin: auto;
  width: 500px;
  flex-direction: column;
  align-items: center;
}

#sale-box .input {
  width: 400px;
  text-align: center;
}

#sale-box .input label {
  width: 100px;
}

#sale-box .input input {
  width: 200px;
  margin: 0 10px;
}

#sale-box div#sale-information {
  width: 500px;
  height: 600px;
  padding: 10px;
  border: 1px solid black;
  text-align: left;
  overflow-y: auto;
}

#sale-box div#sale-information div {
  text-align: left;
}

#sale-box div#sale-information:empty:before {
  content: "정보를 입력해주세요.";
}

#sale-box div#sale-information img {
  max-width: 100%;
}

#sale-box div#sale-information p {
  padding: 0 0.5em;
}

#sale-box #sale-hashtag {
  display: none;
  width: 500px;
  min-height: 1em;
  border: 1px solid black;
}

.sale a,
.purchase a {
  text-decoration: none;
  color: black;
}

.product {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.product-div {
  width: 30%;
}

.product-information {
  padding: 10px;
  width: 65%;
  border: 1px solid black;
}

.product img {
  max-width: 90%;
}

#comment-form {
  margin-top: 20px;
}

#comment-list {
  margin-top: 20px;
}

.comment {
  margin-top: 10px;
  padding: 5px;
  display: flex;
  width: 100%;
  min-height: 20px;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
}

.profile-comment {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.profile-comment legend {
  text-align: left;
  padding: 5px;
}

.comment-user-name {
  float: left;
  width: 20%;
}

.comment-score {
  float: left;
  width: 10%;
  margin-right: 10px;
}

.comment-content {
  float: left;
  max-width: 50%;
  word-wrap: break-word;
}

.profile-comment form {
  float: right;
}
/* 
  @media all and (max-width: 1366px) {
    .wrap {
      flex-direction: column;
    }
  
    #container {
      height: 100%;
    }
  
    #menu {
      min-width: 100%;
      height: 60px;
      display: flex;
      top: 0;
      left: 0;
      color: var(--main-text-color);
      background-color: var(--main-bg-color);
      justify-content: space-between;
      overflow-y: visible;
    }
  
    #logo {
      order: 10;
      width: calc(100% / 4);
      height: 100%;
    }
  
    #logo .windows {
      display: none;
    }
  
    #logo .mobile {
      display: inline-block;
    }
  
    #login {
      position: relative;
      width: calc(100% / 4);
      order: 35;
    }
  
    #login div.logged-in {
      display: none;
    }
  
    #login-top-btn {
      display: flex;
      justify-content: center;
    }
  
    #login-box {
      position: absolute;
      top: 50px;
      right: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      border: 1px solid var(--main-border-color);
      background-color: var(--main-bg-color);
      transition: all 0.5s ease-in-out;
    }
  
    #login-box.on {
      display: block;
      height: 150px;
      padding: 10px;
      transition: all 0.5s ease-in-out;
    }
  
    #search {
      position: relative;
      width: calc(100% / 2);
      padding: 0 20px;
      margin: auto;
    }
  
    #search-btn {
      display: block;
      margin: auto;
    }
  
    #hashtag-list {
      display: none;
      position: absolute;
      top: 48px;
      left: 0px;
      width: 100%;
      padding: 10px;
      border: 1px solid var(--main-border-color);
      background-color: var(--main-bg-color);
    }
  
    #hashtag-list.on {
      display: inline-block;
    }
  
    #advertise {
      height: 100%;
    }
  
    .comment-content {
      max-width: 60%;
    }
  }
  
  @media all and (max-width: 900px) {
    #container {
      display: block;
      overflow-y: auto;
    }
  
    #advertise {
      display: inline-block;
      width: 100%;
    }
  
    #inner-contain {
      overflow: unset;
      width: 100%;
    }
  
    #main-information {
      float: left;
      width: 100%;
    }
  
    #main-information div {
      text-align: left;
    }
  
    #sale-list,
    #purchase-list {
      float: left;
      width: 100%;
    }
  
    #sale-list .sale,
    #purchase-list .purchase {
      width: 90%;
    }
  } */
